[*.{cs,vb}]
dotnet_diagnostic.CA1724.severity = none
dotnet_diagnostic.CA1812.severity = none
dotnet_diagnostic.CA1305.severity = none
dotnet_diagnostic.CA2201.severity = none
dotnet_diagnostic.CA1031.severity = none
dotnet_diagnostic.CA1000.severity = none
dotnet_diagnostic.CA1716.severity = none
dotnet_diagnostic.CA1721.severity = none
dotnet_diagnostic.CA1819.severity = none
dotnet_diagnostic.CA1815.severity = none
dotnet_diagnostic.CA1001.severity = none
dotnet_diagnostic.CA1824.severity = none
dotnet_diagnostic.CA1707.severity = none
dotnet_diagnostic.CA1069.severity = none
dotnet_diagnostic.CA5392.severity = none
dotnet_diagnostic.CA1401.severity = none
dotnet_diagnostic.CA1034.severity = none
dotnet_diagnostic.CA1008.severity = none
dotnet_diagnostic.CA2101.severity = none
dotnet_diagnostic.CA1028.severity = none
dotnet_diagnostic.CA1720.severity = none
dotnet_diagnostic.CA1806.severity = none
dotnet_diagnostic.CA1303.severity = none
